[submodule "AutoItObject"]
	path = AutoItObject
	url = git://github.com/AutoItMicro/AutoItObject.git
	branch = master
[submodule "AutoItAppveyor"]
	path = AutoItAppveyor
	url = git://github.com/AutoItMicro/AutoItAppveyor.git
